.carousel-container {
  position: relative; /* Position relative for absolute positioning of buttons */
  width: 100%; /* Full width of the container */
  margin: 0; /* Remove margin on both sides */
  padding: 0; /* Remove padding if any */
}

.carousel-item {
  padding: 0; /* Remove padding for full-width images */
}

.carousel-item img {
  width: 100%; /* Make images responsive */
  height: 500px; /* Maintain aspect ratio */
   /* Set a maximum height for the images */
  object-fit: cover; /* Ensure the image covers the area without distortion */
  border-radius: 10px; /* Rounded corners for images */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.carousel-buttons {
  position: absolute; /* Position buttons absolutely within the container */
  top: 50%; /* Center vertically */
  width: 100%; /* Full width */
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space buttons to the sides */
  transform: translateY(-50%); /* Adjust for vertical centering */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s; /* Smooth transition for visibility */
}

.carousel-container:hover .carousel-buttons {
  opacity: 1; /* Show buttons on hover */
}

.slick-prev, .slick-next {
  background: #ffffffb3; /* Semi-transparent background */
  border: none; /* Remove border */
  border-radius: 50%; /* Round buttons */
  width: 60px !important; /* Button width */
  height: 60px !important; /* Button height */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 30px !important; /* Font size for arrows */
  color: #000; /* Arrow color */
  line-height: 0; /* Remove line height to hide text */
}

.slick-prev::before, .slick-next::before {
  font-size: 30px !important;
  content: ''; /* Remove default text */
  display: none;
}

.slick-prev {
  margin-left: 35px; /* Space from the left */
}

.slick-next {
  margin-right: 35px; /* Space from the right */
}
  