/* Body should take up full height to allow for vertical centering */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between form and footer */
  }
  .juju{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e2e2e2;
  }

  .container {
    position: relative;
    border: none !important;
    width: 850px !important;
    height: 750px !important;
    background: #fff;
    margin: 20px auto;
    margin-top: -60px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
    
  }
  
  .container h1 {
    font-size: 36px;
    margin: -10px 0;
  }
  
  .container p {
    font-size: 14.5px;
    margin: 15px 0;
  }
  
  form {
    width: 100%;
  }
  
  .form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
  }
  
  .container.active .form-box {
    right: 50%;
    
  
  }
 
  
  
  .form-box.register {
    visibility: hidden;
    left: 0;
  }
  
  .container.active .form-box.register {
    visibility: visible;
    left: 0px;
    
    
  }
  
  .container.active .form-box.login {
      visibility: hidden;
      left: 0px;
      
      
    }
  
  
  .input-box {
    position: relative;
    margin: 30px 0;
  }
  
  .input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
  }
  .input-box select {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  
  
  .input-box input::placeholder {
    color: #888;
    font-weight: 400;
  }
  
  .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
  
  .forgot-link {
    margin: -15px 0 15px;
  }
  
  .forgot-link button {
    width: 100%;
  height: auto;
  background: transparent;
  border: none;
  color: black; /* Set the text color to match your design */
  font-size: 14.5px;
  font-weight: 600;
  text-align: center;
  text-decoration: underline; /* Add underline like an anchor tag */
  cursor: pointer;
  }
  
  .btn {
    width: 100%;
    height: 48px;
    background: #EDBDD7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
    margin: 0 8px;
  }
  
  .toggle-box {
    position: absolute;
    top:0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  
  .toggle-box::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: #EDBDD7;
    border-radius: 150px;
    z-index: 2;
    transition: 1.8s ease-in-out;
  }
  
  .container.active .toggle-box::before {
    left: 50%;
  }
  
  .toggle-panel {
  
    position: absolute;
    width: 50%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s ease-in-out;
  }
  
  .toggle-panel.toggle-left {
    left: 0;
    transition-delay: 1.2s;
  }
  .toggle-left {
      left: 0px;
  }
  
  
  .container.active .toggle-panel.toggle-left {
    left: -50%;
    transition-delay: .6s;
  }
  
  
  
  .toggle-panel.toggle-right {
    right: -50%;
    transition-delay: .6s;
  }
  
  .container.active .toggle-panel.toggle-right {
    right: 0;
    transition-delay: 1.2s;
  }
  
  .toggle-panel p {
    margin-bottom: 20px;
  }
  
  .toggle-panel .btn {
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid #fff;
    box-shadow: none;
  }
  
  
  @media screen and (max-width: 650px) {
    .container {
      height: calc(100vh - 40px);
    }
  
    .form-box {
      bottom: 0;
      width: 100%;
      height: 70%;
    }
  
    .container.active .form-box {
      right: 0;
      bottom: 30%;
    }
  
    .toggle-box::before {
      left: 0;
      top: -270%;
      width: 100%;
      height: 300%;
      border-radius: 20vw;
    }
  
    .container.active .toggle-box::before {
      left: 0;
      top: 70%;
    }
  
    .container.active .toggle-panel.toggle-left {
      left: 0;
      top: -30%;
    }
  
    .toggle-panel {
      width: 100%;
      height: 30%;
    }
  
    .toggle-panel.toggle-left {
      top: 0;
    }
  
    .toggle-panel.toggle-right {
      right: 0;
      bottom: -30%;
    }
  
    .container.active .toggle-panel.toggle-right {
      bottom: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .form-box {
      padding: 20px;
    }
  
    .toggle-panel h1 {
      font-size: 30px;
    }
  }